$gray-100: rgb(243, 244, 246);

$green-500: rgba(16, 185, 129);
$green-600: rgba(5, 150, 105);

$blue-600: rgba(37, 99, 235);

$base-space: 16px;

$syn-space-xs: $base-space * 0.25;
$syn-space-sm: $base-space * 0.5;
$syn-space: $base-space;
$syn-space-lg: $base-space * 1.333;
$syn-space-xl: $base-space * 1.875;
$syn-space-xxl: $base-space * 2;
$syn-space-3xl: $base-space * 3;
$syn-space-4xl: $base-space * 4;

$syn-rounded: 0.375rem;
